template(name='layout')
  if currentUser
    .ui.column.stackable.grid
      .four.wide.column
        +profile
      .four.wide.column
        h1 Share
        .row
          +createProblem
        .row
          +updateProblem
      .four.wide.column
        +searchProblems
      .four.wide.column
        +chat
  else
    +loginButtons

template(name='problemForm')
  input(name='title' value=title)
  br
  textarea(name='description')
    | #{description}
  br
  .skillIds
    each skills
      span #{name}
      button.remove.small.horizontal.margin(data-id=_id) x
  with key
    +skillsSearch
  br
  button.create #{submit}
  .hidden.notice Saved!

template(name='createProblem')
  with newProblem
    +problemForm

template(name='updateProblem')
  with problem
    h2 Update your problem
    +problemForm

template(name='chat')
  if chat
    h1 Chat
    p Problem: #{chat}
    .messages.border
      each messages
        +message
    input.new-message(placeholder='write...')
    span.hidden.notice Message not sent, try again later!
  else
    h1 Click a problem to chat

template(name='message')
  .small.margin
    a(href=userSite target='_blank') #{username}
    span : #{text}

template(name='searchProblems')
  h1 Search
  label
    input.solved(type='checkbox')
    span Show solved problems
  br
  p Showing problems for
  .vertical.margin.border
    .small.fixed-height
      each yourSkills
        span.small.margin
          span #{name}
          button.remove.small.horizontal.margin(data-id=_id) x
  with 'searchProblems'
    +skillsSearch
  hr
  div(style='height: 5em;')
    each problems
      +problem

template(name='skillsSearch')
  input.search(placeholder="Add more...")
  if searchFocused
    .absolute.border.white
      if skills
        button.hide-results x
        br
      each skills
        button.skill(data-id=_id) #{name}
        span.hidden.notice Added!
        br

template(name='problem')
  .problem.border.small.margin.padding.pointer(data-id=_id)
    h3 #{title}
    p #{description}
    each skillIds
      +problemSkillName
    each remoteViewers
      i(class=icon)

template(name='problemSkillName')
  span.ui.small.teal.label #{name} &ensp;

template(name='profile')
  h1 You
  +loginButtons
  br
  br
  label
    | Nick:
    input(name='name' value=username autocomplete="off")
    span.hidden.notice Updated!
  br
  label
    | Site:
    input(name='site' value=site autocomplete="off")
    span.hidden.notice Updated!
  br
  ul
    each urls
      li
        a(href=href) #{content}
  h2 Stats

template(name='skillsCRUD')
  input.create(placeholder='Create skills...')
  span.hidden.notice Created!
  br
  input.search(placeholder='Search skills...')
  .fixed-height
    each skills
      input.edit.skill(value=name data-id=_id)
      button.remove(data-id=_id) Remove
      span.hidden.notice Edited!
      br

template(name='usersSkills')
  each users
    +userSkills

template(name='skillsShow')
  h1 Skills
  +skills
  +usersSkills

