template(name='layout')
  if currentUser
    .menu
      i.big.green.user.icon.link(title='You')
      i.big.green.add.sign.icon.link(title='Share')
      i.big.green.search.icon.default-margin.link(title='Search')
      i.big.green.chat.icon.link(title='Chat')
    #you.ui.red.sidebar
      +profile
    #share.ui.blue.sidebar
      h1 Share
      +createProblem
    #search.ui.purple.sidebar
      +searchProblems
    #chat.ui.sidebar
      +chat
      +updateProblem
  else
    +loginbutton.ui.buttons

template(name='problemForm')
  input.ui.input(name='title' value=title placeholder='Title')
  br
  textarea(name='description' placeholder='Description')
    | #{description}
  br
  .skillIds
    each skills
      span #{name}
      button.ui.red.button.remove.small.horizontal.margin(data-id=_id) x
  with key
    +skillsSearch
  br
  br
  button.ui.black.button.create #{submit}
  .hidden.notice Saved!

template(name='createProblem')
  with newProblem
    +problemForm

template(name='updateProblem')
  with problem
    h2 Update your problem
    +problemForm

template(name='chat')
  if chat
    h1 Chat
    p Problem: #{chat}
    .messages.border
      each messages
        +message
    input.ui.input.new-message(placeholder='write...')
    span.hidden.notice Message not sent, try again later!
  else
    p Click a problem to chat

template(name='message')
  .small.margin
    a(href=userSite target='_blank') #{username}
    if userPaypal
      span
        |(
        a(href=userPaypal) Donate
        |)
    span : #{text}

template(name='searchProblems')
  h1 Search
  label
    input.ui.input.solved(type='checkbox')
    span Show solved problems
  br
  p Showing problems for
  .vertical.margin.border
    .small.fixed-height
      each yourSkills
        span.small.margin
          span #{name}
          button.ui.red.button.remove.small.horizontal.margin(data-id=_id) x
  with 'searchProblems'
    +skillsSearch
  hr
  div(style='height: 20em; overflow:auto')
    each problems
      +problem

template(name='skillsSearch')
  input.ui.input.search(placeholder="Add more...")
  if searchFocused
    .absolute.transparent
      if skills
        button.ui.red.button.hide-results x
        br
      each skills
        button.ui.teal.button.skill(data-id=_id) #{name}
        // span.hidden.notice Added!
        br

template(name='problem')
  .problem.border.small.margin.padding.pointer(data-id=_id)
    h3 #{title}
    p #{description}
    each skillIds
      +problemSkillName
    each remoteViewers
      i(class=icon)

template(name='problemSkillName')
  span.ui.small.teal.label.skill #{name} &ensp;

template(name='profile')
  h1 You
  +loginButtons
  label
    p Nick:
    input.ui.input(name='name' value=username autocomplete="off")
    span.hidden.notice Updated!
  br
  label
    p Site:
    input.ui.input(name='site' value=site autocomplete="off")
    span.hidden.notice Updated!
  br
  label
    p(title='Email address to receive donations') Paypal:
    input.ui.input(name='paypal' value=paypal autocomplete="off")
    span.hidden.notice Updated!
  br
  ul
    each urls
      li
        a(href=href) #{content}
  h2 Stats

template(name='skillsCRUD')
  input.ui.input.create(placeholder='Create skills...')
  span.hidden.notice Created!
  br
  input.ui.input.search(placeholder='Search skills...')
  .fixed-height
    each skills
      input.ui.input.edit.skill(value=name data-id=_id)
      button.ui.button.remove(data-id=_id) Remove
      span.hidden.notice Edited!
      br

template(name='usersSkills')
  each users
    +userSkills

template(name='skillsShow')
  h1 Skills
  +skills
  +usersSkills

template(name='test')
  h1 test

